<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Tavern</title>
</head>
<body>
<div class="container">
    <div>
        <ul>
            <li><a href="/camels">Famous Camels</a></li>
            <li><a href="/users">Show users</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/registration">Registration</a></li>
        </ul>
    </div>
    <h1>Welcome to the CamelClub</h1>
    <h2>Please give us your credentials</h2>
    <form method="post" th:action="@{/user/{id}/login(id=*{id})}" th:object="${user}">
        <div>
            <label for="name">Your name:</label>
            <select id="name" name="name">
                <option th:utext="*{name}" th:value="*{id}"><option>
            </select>
        </div>
        <div>
            <label for="password">Your name:</label>
            <input id="password" name="password" th:field="*{password}"><br>
        </div>
        <button>Login</button>
    </form>
</div>
</body>
</html>
