<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fox club</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div>
        <ul>
            <a href="http://localhost:8080/info">Information</a>
        </ul>
    </div>

    <div>
        <img src="/static/greenfox.png" alt="FoxImage">
    </div>

    <div >
        <p>This is Pityu Currently living on pizza and lemonade. He knows 2 tricks.</p>
    </div>

    <div>
        <h1>Known tricks</h1>
    </div>

    <div>
        <ul>
            <li>write HTML</li>
            <li>code in Java</li>
        </ul>
    </div>
</body>
</html>
