<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fox club</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div>
        <ul>
            <li><a href="http://localhost:8080/info">Information</a></li>
            <li><a href="http://localhost:8080/nutrition">Nutrition store</a></li>
            <li><a href="http://localhost:8080/tricks">Trick center</a></li>
        </ul>
    </div>

    <div>
        <img src="/static/greenFox.png" alt="FoxImage">
    </div>

    <div>
        <p th:text="'This is ' + ${name} + ', Currently living on ' + ${food}
        +' and drinking ' + ${drink}
        +'. He knows 3 tricks.'"></p>
    </div>

    <div>
        <h1>Known tricks</h1>
    </div>

    <div>
        <ul th:each="trick : ${tricks}">
            <li th:text="${trick}"></li>
        </ul>
    </div>
</body>
</html>
