<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
</head>
<body>
<div class="container">
    <h1>ADD NEW POST</h1>
    <form method="post" th:action="@{/{id}/add(id=${user.id})}" th:object="${post}">
        <div>
            <input type="hidden" name="post_id" th:field="${post.id}">
            <input type="hidden" name="user_id" th:field="${post.user}">
        </div>
        <div>
            <label for="title">Title: </label>
            <input id="title" name="title" th:field="*{title}"><br>
        </div>
        <div>
            <label for="url">Url: </label>
            <input id="url" name="url" th:field="*{url}"><br>
        </div>
        <button>Add new post</button>
    </form>
</div>
</body>
</html>
