<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<form th:object="${user}">
    <h1 th:text="'Hello, '+ ${user.name}"></h1>
    <ul>
        <li><a href="/index">REDDIT</a></li>
        <li><a href="/login">login</a></li>
        <li><a th:href="@{/{id}/add(id=${user.id})}">Add new post</a></li>

    </ul>
</form>
<div class="container">
    <h1>REDDIT</h1>
    <table>
        <thead>
        <tr>
            <td>Score</td>
            <td>Up</td>
            <td>Down</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody th:each="post : ${listOfPosts}">
        <tr>
            <td th:text="${post.getScore()}"></td>
            <td>
                <form action= "#" th:action="@{/{id}/voteup(id=*{post.id})}" method="post">
                    <button>Good One</button>
                </form>
            </td>
            <td>
                <form action= "#" th:action="@{/{id}/votedown(id=*{post.id})}" method="post">
                    <button type="submit">Bad One</button>
                </form>
            </td>
            <td><a th:href="${post.url}" th:text="${post.title}"></a></td>
            <td>
                <form action= "#" th:action="@{/{id}/delete(id=*{post.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
