<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
</head>
<body>
<nav>
    <a href="/">REDDIT</a>
    <div>

        <a href="/login">login</a>
        <a href="/add">Add new post</a>

    </div>
</nav>
<div class="container">
    <h1>REDDIT</h1>
    <table>
        <thead>
        <tr>
            <td>Score</td>
            <td>Up</td>
            <td>Down</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody th:each="post : ${listOfPosts}">
        <tr>
            <td th:text="${post.getScore()}"></td>
            <td>
                <form th:action="@{/{id}/voteup(id=*{post.getId()})}" method="post">
                    <button type="submit">Good One</button>
                </form>
            </td>
            <td>
                <form th:action="@{/{id}/votedown(id=*{post.getId()})}" method="post">
                    <button type="submit">Bad One</button>
                </form>
            </td>
            <td th:text="${post.getTitle()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
