<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<nav>
    <a href="/">Books for Life</a>
    <div>
        <ul>
            <li><a href="/?unRead=true">Show unfinished books</a></li>
            <li><a href="/addbook">Add new book</a></li>
            <li><a href="/users">Show users</a></li>
            <li><a href="/users/adduser">Add new user</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Users of BookMoly</h1>
    <form method="post" th:object="${user}" th:action="@{/users/{id}/edit(id=${user.id})}">
        <div>
            <label for="name">Name of user: </label>
            <input id="name" name="name" th:field="*{name}"><br>
        </div>
        <div>
            <label for="email">Email of user: </label>
            <input id="email" name="email" th:field="*{email}"><br>
        </div>
        <button>Edit information of user</button>
    </form>
</div>
</body>
</html>
